.head:hover {
    opacity:10;
  }

* {box-sizing: border-box}
.bx{
    
    color: rgb(249, 252, 251)
}
.head{
   
    color: rgb(243, 246, 243)
}

.container {
  padding: 12px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 30%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #c8ecca;
  }
  input[type=email], input[type=email] {
    width: 30%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #c8ecca;
  }
  body{
      background-color: rgb(10, 63, 77)
  }

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #e5f0e5;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

.sb {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
  }
.registerbtn:hover {
  opacity:1;
}
.sb:hover {
    opacity:1;
  }
/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #0e3d39;
  text-align: center;
}